.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  border-top: 1px solid #999999;
  user-select: none;
}

.Footer .countItem {
  position: absolute;
  left: 15px;
  font-size: 16px;
}

.Footer .filter {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  padding: 5px 10px;
  margin: auto 5px;
  outline: none;
  background: transparent;
  color: #999999;
}

.Footer .filter-active {
  border: 1px solid #999999;
  color: inherit;
}
