.header {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999999;
}

.header img {
  margin: auto 8px;
  cursor: pointer;
}

.header input {
  width: 86%;
  height: 25px;
  padding: 5px 10px;
  border: none;
  outline: none;
  font-size: 19px;
  color: #555555;
}

::placeholder {
  color: #cccccc;
  font-style: italic;
}
